.avatar {
    border-radius: 50%;
    height: 100px;
    float:right;
}

.astronaut {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 6px;
}

img {
    width: 200px;
    height: 200px;
}

.bio   {
    display: flex;
    justify-content: column;
}
